<% provide(:title, "About")%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) %></title>
</head>
<body>
  <h1>Heading for about page</h1>
  <p>paragraph for about page</p>
</body>
</html>
