<<<<<<< HEAD
<% provide(:title, "Help") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title)%></title>
</head>
<body>
  <h1>StaticPages#help</h1>
  <p>Find me in app/views/static_pages/help.html.erb</p>
</body>
</html>
=======
<%= provide(:title, "Help") %>
<h1>Help page</h1>
<p>This is the help page</p>
>>>>>>> develop
